
.pwHeader {
	width: 100%; }
	.pwHeader .pwLogo {
		float: left;
		vertical-align:top;
		width: 20%; }
	.pwHeader .userProfile {
		float: right;
		width: 8%;
		vertical-align:top;}
		.userImage {
			width: 100%;}
		.userName {
			display:block;
			text-align: center;}

.searchAndUpload {
		display: block;
		vertical-align:top;
		margin-top:20px;
		margin-left: auto;
		margin-right: auto;}
	.searchAndUpload .searchBox {
		display: inline-block;
		text-align: left;
		font-size: large;
		width: 60%;}
	.searchAndUpload .searchButton {
		display:inline-block;
		background-color: #5CABF3;
		color: white;
		font-size: large;
		border-radius: 5px;}
	.searchAndUpload .uploadWarning {
		display:block;
		text-align:left;
		font-size:small;
		margin-left:20px; }

	.searchAndUpload .upload {
		display:block;
		margin-top: auto;
		width: 66%;}
	.searchAndUpload .imgCloudUpload {
		display:block;
		margin-top: 20px;
		margin-left:auto;
		margin-right:auto;}
	.uploadNowText {
		display:block;
		text-align: center;}
	.dragAndDrop {
		margin-top:15px;
		text-align: center;}
	.uploadButton {
		background-color: #5CABF3;
		display:inline-block;
		text-align: center;
		color: white;
		font-size: large;
		border-radius: 5px; }



.trending{
	display: block;
	margin-top: -30px;}
	.trending .trendingNowText {
		margin-left: 40px;
		text-align:inherit;
		font: italic bold 16px sans-serif;
		color: coral; }
	.trending .trendingImages {
		margin-left: 40px;
		display: inline-block; }
	.trending .trendingImage {
		height: 150px;
		margin-top: 5px;
		margin-left: 18px;}

.mediaItem {
	display: block;}


hr {
	margin-left: 42px;
	margin-right: 40px;
	border: 0;
	height: 0;
	box-shadow: 0 0 10px 1px cornflowerblue; }


