<link rel="stylesheet" type="text/css" href="/header.css">
<div class="pwHeader">
    <a href="/"><image class="pwLogo" src="/pwlogo.png"></a>
    <div class="userProfile">
        <a href="" class="userName">
            <image src="/unknownUser.png" class="userImage">
                <% if (userProfile.IsAuthenticated) { %>
                    <span><%=userProfile.UserName%></span>
                <% } else { %>
                    <span><%=userProfile.SignInText%></span>
                <% } %>
        </a>
    </div>
</div>
