<!DOCTYPE html>
<html>
<head></head>

<body>
    <% include ../partials/header %>

    <div class="searchAndUpload">
        <div class="searchBox">
            <form>
                <input class="searchBox" type="text" placeholder="Search..." required>
                <input class="searchButton" type="button" value="Search"/>
                <span class="uploadWarning">Only videos or pictures taken in a public place may be uploaded.</span>
            </form>
            <div class="upload">
                <image class="imgCloudUpload" src="uploadToCloud.png">
                <span class="uploadNowText">Upload your pictures and video now.</span>
                <div class="dragAndDrop">
                    <span class=>Drag and drop your files on the cloud above or click </span>
                    <input class="uploadButton" type="button" value="Upload Now">
                </div>
            </div>
        </div>
    </div>


	
	<br/>
	<br/>
	<br/>

	<!--<div>Advertisement</div>-->
	<div class="trending">
        <span class="trendingNowText">Trending now!</span>
        <hr/>
        <div class = "trendingImages">
            <a href="/media/19876543"><image src="19876543.jpeg" class="trendingImage"></a>
            <a href="/media/19876544"><image src="19876544.jpeg" class="trendingImage"></a>
            <a href="/media/19876545"><image src="19876545.jpg" class="trendingImage"></a>
            <a href="/media/19876546"><image src="19876546.jpeg" class="trendingImage"></a>
        </div>
        <hr/>

    </div>

	<!--<div>Browse categories</div>-->
	
</body>
</html>
