<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>

    <!-- <script type="text/javascript" src="../js/index.js" /> -->



    <% include ../partials/header %>

    <div class="searchAndUpload">
        <div class="searchBox">
            <form>
                <input class="searchBox" type="text" placeholder="Search..." required>
                <input class="searchButton" type="button" value="Search"/>
                <span class="uploadWarning">Only videos or pictures taken in a public place may be uploaded.</span>
            </form>
            <div class="upload">

                <form method="post" enctype="multipart/form-data" action="/upload" class ="uploadOnlyForm">
                      <div class="formUploadOnly">
                          <image class="imgCloudUpload" src="uploadToCloud.png">
                          <div class="uploadNow">
                              <span class="uploadMediaText">Upload your pictures and video now.</span>
                              <div class="formUpload">
                                  <input class="formUploadInput" type="file" name="image">
                                  <span class="formUploadButton">Upload Now</span>
                              </div>
                          </div>
                      </div>
                      <!-- <input type="submit" value="upload"> -->
                </form>

                <div class="dragAndDrop">
                    <image class="imgCloudUpload" src="uploadToCloud.png">
                    <span class="uploadNowText">Upload your pictures and video now.</span>
                    <span class=>Drag and drop your files on the cloud above or click </span>
                    <input class="uploadButton" type="button" value="Upload Now">
                </div>
            </div>
        </div>
    </div>



	<br/>
	<br/>
	<br/>

	<!--<div>Advertisement</div>-->
	<div class="trending">
        <span class="trendingNowText">Trending now!</span>
        <hr/>
        <div class = "trendingImages">
            <% trending.forEach(function(trendingItem) { %>
                <% if (typeof trendingItem !== 'undefined') { %>
                    <a href="/media/<%=trendingItem.id %>"><image src="<%=trendingItem.file%>" class="trendingImage"></a>
                <% } %>
            <% }); %>
        </div>
        <hr/>

    </div>

	<!--<div>Browse categories</div>-->


<script type="text/javascript" >
  $(function() {

    var uploadOnlyButton = $(".formUploadButton");
    var uploadOnlyForm = $(".uploadOnlyForm");
    var uploadButton = $(".formUploadInput");

    uploadOnlyButton.click(function(){
        uploadButton.click();
    });

    uploadButton.change(function(){
        uploadOnlyForm.submit();
    });

  });
</script>

</body>





</html>
