<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="header.css">
</head>

<body>
	<div class="pwHeader">
		<image class="pwLogo" src="pwlogo.png">

        <div class="searchAndUpload">
            <form>
			    <input class="searchBox" type="text" placeholder="Search..." required>
			    <input class="searchButton type="button" value="Search">
			    <span class="uploadWarning">Only videos or pictures taken in a public place may be uploaded.</span>
		    </form>
            <image class="imgCloudUpload" src="uploadToCloud.png">
            <span class="uploadNowText">Upload your pictures and video now.</span>
            <div class="dragAndDrop">
                <span class=>Drag and drop your files on the cloud above or</span>
                <input class="uploadButton" type="button" value="Upload Now">
            </div>
        </div>

		<div class="userProfile">
			<image src="unknownUser.png" class="userImage">
			<a href="" class="userName">Sign In </a>
		</div>
	</div>
	
	<br/>
	<br/>
	<br/>
	<div>Advertisement</div>
	<div>Trending now</div>
	<div>Browse categories</div>
	
</body>
</html>
