<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="header.css">
</head>

<body>
	<div class="pwHeader">
		<image src="pwlogo.png">
		<form>
			<input class="searchBox" type="text" placeholder="Search..." required>
			<input class="searchButton type="button" value="Search">
			<span class="uploadWarning">Only videos or pictures taken in a public place may be uploaded.</span>
		</form>
	</div>
	
	<br/>
	<br/>
	<br/>
	<div>Advertisement</div>
	<div>Trending now</div>
	<div>Browse categories</div>
	
</body>
</html>
