<!DOCTYPE html>
<html>
<head></head>
<body>
<!--<% include ../partials/header %>-->

	<div class="MediaItem">
        <hr/>
        <div>
            <image src="/<%=mediaId%>.jpeg">
        </div>
        <hr/>
    </div>
	
</body>
</html>
